<div ng-controller = 'HeaderController as ctrl'>
<h1>iSLOW Book Store - User</h1>
	<table style="width: 100%">
		<tr>
			<td>
				<a ui-sref="book-user"><button>Book</button></a> 
				<a ui-sref="shelf-user"><button>Shelf</button></a>
				<a ui-sref="contract-user"><button>Contract</button></a>
			</td>

			<td align="right">
				<a ui-sref="cart"><button>Cart({{ctrl.cart.length}})</button></a>
				<a ng-click="ctrl.logout()"><button>Logout</button></a>
			</td>
		</tr>
	</table>
</div>


