<div>
	<h1>iSLOW Book Store</h1>
	<table style="width: 100%">
		<tr>
			<td>
				<a ui-sref="book"><button>Book</button> </a> 
				<button>About</button>
			</td>

			<td align="right">
				<a ui-sref="register"><button>Register</button></a>
				<a ui-sref="login"><button>Login</button></a>
			</td>
		</tr>
	</table>
</div>


