<div ng-controller = "HeaderController as ctrl">
<h1>iSLOW Book Store - Moderator</h1>
	<table style="width: 100%">
		<tr>
			<td>
				<a ui-sref="book-moderator"><button>Book</button> </a>
				<a ui-sref="author-moderator"><button>Author</button> </a>
				<a ui-sref="category-moderator"><button>Category</button></a>
				<a ui-sref="publisher-moderator"><button>Publisher</button></a>
				<a ui-sref="approval-moderator"><button>Approval</button></a>
				<!-- <a ui-sref="stock-moderator"><button>Stock</button></a> -->
				<a ui-sref="update-user-moderator"><button>User</button></a>
			</td>

			<td align="right">
				<a ng-click="ctrl.logout()"><button>Logout</button></a>
			</td>
		</tr>
	</table>
</div>


