<h1>Approval</h1>
<div ng-controller="ApprovalController as ctrl">
	<table>
		<tr>
            <td align="right">Search :</td>
            <td><input ng-model="query[queryBy]" /></td>
        </tr>
        <tr>
            <td align="right">Search By :</td>
            <td>
                <select ng-model="queryBy">
                    <option value="$"></option>
                    <option value="contractNumber">Contract Number</option>
                    <option value="contractStatus">Status</option>
                </select>
            </td>
        </tr>
	</table>
	<hr>
	<table border="1">
		<thead>
			<tr>
				<th>No.</th>
				<th>Contract No.</th>
				<th>Book(s)</th>
				<th>Created Date</th>
				<th>Payment Method</th>
				<th>Grand Total</th>
				<th>User Account Balance</th>
				<th>Status</th>
				<th>Action </th>
			</tr>
		</thead>
			<tbody>
				<tr ng-repeat="u in ctrl.contracts | filter:query">
					<td><span>{{$index + 1}}</span></td>
					<td><span ng-bind="u.contractNumber"></span></td>
					<td>
						<span ng-repeat="b in u.books">
							<p ng-bind="b.bookId"></p>
						</span>
					</td>
					<td><span ng-bind="u.contractCreatedDate | date:'MM/dd/yyyy'"></span></td>
					<td><span ng-bind="u.contractPaymentMethod"></span></td>
					<td><span ng-bind="ctrl.getGrandTotal(u.books) | number : 2" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"></span></td>
					<td><span ng-bind="u.contractUser.userAcctBalance | number : 2" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"></span></td>
					<td><span ng-bind="u.contractStatus"></span></td>

					<td>
						<button ng-if="u.contractStatus == 'pending'" ng-click="ctrl.approveContract(u.contractNumber)">Approve</button>
						<button ng-if="u.contractStatus == 'pending'" ng-click="ctrl.rejectContract(u.contractNumber)">Reject</button>
					</td>
				</tr>
			</tbody>
	</table>
</div>