<h1>Author</h1>
<div ng-controller="AuthorController as ctrl">


	<form name="formAuthor" ng-submit="ctrl.submit()">
		<table>
			<input type="hidden" ng-model="ctrl.author.authorId">
			<tr>
				<td>Author Name</td>
				<td>: <input type="text" ng-model="ctrl.author.authorName" required></td>
			</tr>
			<tr>
				<td>Author Email</td>
				<td>: <input type="text" ng-model="ctrl.author.authorEmail" required></td>
			</tr>
			<tr>
				<td>Author Country</td>
				<td>: <input type="text" ng-model="ctrl.author.authorCountry" required></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<p>
						<input type="submit" value="Add Author">
						<input type="button" ng-click="ctrl.reset()" value="Reset">
					</p>
				</td>
			</tr>
		</table>
	</form>

	<p>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Country</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="u in ctrl.authors | orderBy: 'authorId'">
				<td><span ng-bind="u.authorId"></span></td>
				<td><span ng-bind="u.authorName"></span></td>
				<td><span ng-bind="u.authorEmail"></span></td>
				<td><span ng-bind="u.authorCountry"></span></td>
			</tr>
		</tbody>
	</table>
	</p>
</div>
