<h1>Book</h1>
<div ng-controller="BookUserController as ctrl">
	<div>
		<table>
			<td><button ng-click="ctrl.btnAllBook()">All Book</button></td>
			<td><button ng-click="ctrl.btnSearchBook()">Search Book</button></td>
		</table>
	</div>
	<h3>{{ctrl.subHeader}}</h3>
	<div ng-show="ctrl.isSearch">
		<form name="formSearchBook" ng-submit="ctrl.searchBook(ctrl.searchByChoice, ctrl.searchValue)">
			<table>
				<tr>
					<td>{{ctrl.searchByChoice}}</td>
					<td>: <input type="text" ng-model="ctrl.searchValue"></td>
				</tr>
				<tr>
					<td>Search By</td>
					<td>: <select ng-init="ctrl.searchByChoice = ctrl.searchBy[0]" ng-model="ctrl.searchByChoice" ng-options="s for s in ctrl.searchBy"></td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<p><input type="submit" value="Search"></p>
					</td>
				</tr>
				<tr ng-show="ctrl.isEmptyResult">
					<td>
						<p>Empty Result.</p>
					</td>
				</tr>
			</table>
		</form>
		
	</div>
	
	<div ng-show="ctrl.isListAll">
		<form name="formAddToCart">
			<!--list of books-->
			<table border="1" ng-show="!ctrl.isSelected">
				<thead>
					<tr>
						<th>Subject</th>
						<th>Author</th>
						<th>Publisher</th>
						<th>Category</th>
						<th>Price</th>
						<th>View ?</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="u in ctrl.books" ng-if="!ctrl.showSearchResult()">
						<td><span ng-bind="u.bookSubject"></span></td>
						<td><span ng-bind="u.bookAuthor.authorName"></span></td>
						<td><span ng-bind="u.bookPublisher.publisherName"></span></td>
						<td><span ng-bind="u.bookCategory.categoryName"></span></td>
						<td><span ng-bind="u.bookPrice"></span></td>
						<td><button ng-click="ctrl.btnViewBook(u)">View</button></td>
					</tr>
					<tr ng-repeat="u in ctrl.searchBooks" ng-if="ctrl.showSearchResult()">
						<td><span ng-bind="u.bookSubject"></span></td>
						<td><span ng-bind="u.bookAuthor.authorName"></span></td>
						<td><span ng-bind="u.bookPublisher.publisherName"></span></td>
						<td><span ng-bind="u.bookCategory.categoryName"></span></td>
						<td><span ng-bind="u.bookPrice"></span></td>
						<td><button ng-click="ctrl.btnViewBook(u)">View</button></td>
					</tr>
				</tbody>
			</table>
		
			<!--selected book-->
			<table ng-show="ctrl.isSelected">
				<tr>
					<td>Book Subject</td>
					<td>: {{ctrl.book.bookSubject}}</td>
				</tr>
				<tr>
					<td>Book Description</td>
					<td>: {{ctrl.book.bookDescription}}</td>
				</tr>
				<tr>
					<td>Book ISBN</td>
					<td>: {{ctrl.book.bookIsbn}}</td>
				</tr>
				<tr>
					<td>Book Author</td>
					<td>: {{ctrl.book.bookAuthor.authorName}}</td>
				</tr>
				<tr>
					<td>Book Publisher</td>
					<td>: {{ctrl.book.bookPublisher.publisherName}}</td>
				</tr>
				<tr>
					<td>Book Category</td>
					<td>: {{ctrl.book.bookCategory.categoryName}}</td>
				</tr>
				<tr>
					<td>Book Price</td>
					<td>: {{ctrl.book.bookPrice}}</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<p>
							<button ng-click="ctrl.btnViewBookBack()">Back</button> 
							<button ng-show="ctrl.isUser" ng-click="ctrl.btnAddToCart(ctrl.book)">Add to Cart</button>
						</p>
					</td>
				</tr>
				<tr ng-show="!ctrl.isUser">
					<td colspan="2">
						Please login to purchase book.
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
