<h1>Contract</h1>
<div ng-controller="ContractController as ctrl">
	<table border="1">
		<thead>
			<tr>
				<th>No.</th>
				<th>Contract No.</th>
				<th>Book(s)</th>
				<th>Created Date</th>
				<th>Payment Method</th>
				<th>Status</th>
				<th>Void ?</th>
			</tr>
		</thead>
			<tbody>
				<tr ng-repeat="u in ctrl.contracts">
					<td><span>{{$index + 1}}</span></td>
					<td><span ng-bind="u.contractNumber"></span></td>
					<td>
						<span ng-repeat="b in u.books">
							<p ng-bind="b.bookId"></p>
						</span>
					</td>
					<td><span ng-bind="u.contractCreatedDate | date:'MM/dd/yyyy'"></span></td>
					<td><span ng-bind="u.contractPaymentMethod"></span></td>
					<td><span ng-bind="u.contractStatus"></span></td>
					<td><button ng-if="u.contractStatus == 'pending'" ng-click="ctrl.void(u.contractNumber)">Void</button></td>
				</tr>
			</tbody>
	</table>

</div>
